body{
    background-color: black;
    margin: 0 auto;
}
#navbar{
    background-color: purple;
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.container-one{
    background-color: azure;
    height: 250px;
    margin: 15px;
}
.container-two{
    background-color: brown;
    height: 210px;
    margin: 15px;
    padding: 15px;
}
.boxes{
    background-color: rgb(120, 226, 120);
    height: 180px;
    width: 300px;
    padding: 15px;
    margin: 20px;
}
.left-box{
    float: left;
}
.right-box{
    float: right;
}
.blank{
    background-color: aliceblue;
    height: 200px;
    border: solid green;
    width: calc(100%);
}
.navleft {
    float: left;
    display: flex;
}
.navleft {
    height: 60px;
}
.navleft h2 {
    display: inline;
    color: azure;
}
.nav-right {
    float: right;
    display: flex;
    align-self: center;
}
.nav-right a {
    color: azure;
    padding: 0 10px;
    text-decoration: none;
}
